.swiper-slide{
  align-items: center;
  justify-content: center;
  width: 493px; /* Ширина контейнера */
  height: 594px; /* Высота контейнера */
  border: 1px solid #000; /* Граница в 1 пиксель */
}
.swiper {
    width: 90%;
    height: 40%;
  }
  .swiper-slide img {
    display: block;
    border-radius: 12px;
    object-fit: cover;
  }
  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    width:10px;
    height: 10px;
  }