.button {

   display: none;
}
.button:hover{
    background-color: var(--ackcent-color-1);
}

.visible {
    display: block;
    border-radius:100% ;
    border:  none;
    position: fixed;
    top: 90% ;
   left: 80%;
   background-color:var(--ackcent-color-2);
   transform: rotate(180deg);
   width:58px;
   height: 58px;
}