.container{
    padding-top: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.title{
    color: var(--text-color);
    font-family: var(--Font);
    font-weight: bold;
    font-size: 64px;
    width: 607px;
}
.text{
    color: var(--text-color);
    font-family: var(--Font); 
    font-weight: 200;
    font-size: 36px;
    margin-top: 50px;
    width: 547px;
}

.caption {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--ackcent-color-2);
    color: white;
    border-radius: 12px;
    padding: 5px 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  .photoContainer {
    position: relative;
    display: inline-block;
  }
  .photoContainer:hover .caption {
    opacity: 1;
  }


  /*tablet*/
@media screen and (min-width:768px ) and (max-width:1280px){

    .title{
        font-size: 48px;
        width: 380px;
        font-weight: 300;
    }
    .text{
        font-size: 20px;
        margin-top: 50px;
        width: 380px;
    }
    .img{
        width:320px;
        height: 380px;
    }
    
}

/*mob*/
@media screen and (min-width:320px ) and (max-width:768px){

    .title{
        font-size: 36px;
        width: 300px;
        font-weight: 300;
    }
    .text{
        font-size: 20px;
        margin-top: 30px;
        width: 300px;
    }
    .img{
        width:320px;
        height: 380px;
    }
    .container{

        display: flex;
flex-direction: column;
    }
}