.container{
    padding-top:150px;
}
.titlecontainer{
    display: flex;
    gap:30px;
    align-items: center;
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
    width:80px;
    height: 80px;
    transform: rotate(90deg);
    border-radius: 100%;
    background:var(--ackcent-color-1) ;
border:none;
}
.button:hover{
    background:var(--hover-color);
}
.title{
    color: var(--text-color);
    font-family: var(--Font);
    font-weight: bold;
    font-size: 170px;
    width: 1000px;
}
.linkcontainer{
    display: flex;
    flex-direction: column;
    width:1200px;
    align-items: center;
}
.divlink{
    margin-left: auto;
}
.link{
    font-family: var(--Font);
font-weight: bold;
font-size: 48px;
    color:var(--ackcent-color-1)
}
.link:hover{
    color: var(--hover-color);
}
.img{
    border-radius: 12px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 70px;
}
.subscription{
    margin-right: auto;
    margin-left: auto;
    margin-top: 70px;
    width: 1100px;
    color: var(--text-color);
    font-family: var(--Font);
    font-weight: 200;
    font-size: 26px;
}
.phone{
margin-top: 70px;
    display: flex;
    gap: 30px;
    margin-bottom: 70px;
}
.othersubscription{

    color: var(--text-color);
    font-family: var(--Font);
    font-weight: 200;
    font-size: 26px;
}
/*tablet*/

@media screen  and (min-width:768px ) and (max-width:1280px){
    .img{
width:672px;
height:332px;
    }
    .subscription{
        width: 768px;
        font-size: 20px;
    }
    .title{
        font-size: 48px;
        width: 400px;
    }
    .othersubscription{
        font-size: 20px;
    }
    .phoneimg{
        width:365px;
        height:355px;
    }
    .linkcontainer{
        width: 100%;
    }
}
/*mob*/
@media screen  and (min-width:320px ) and (max-width:768px){
    .img{
width:300px;
height:332px;
    }
    .subscription{
        width: 320px;
        font-size: 20px;
    }
    .title{
        font-size: 36px;
        width: 200px;
    }
    .othersubscription{
        font-size: 20px;
    }
    .phoneimg{
        width:300px;
        height:355px;
    }
    .link{
        margin: 0;
    }
    .linkcontainer{
flex-direction: column;
        width: 200px;
    }
    .phone{
        flex-direction: column;
    }
}
