.container{
    padding-top:100px;
    display: flex;
    gap:30px;
    align-items: center;
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
    width:60px;
    height: 60px;
    transform: rotate(90deg);
    border-radius: 100%;
    background:var(--opacity-color) ;
border:none;
}
.button:hover{
    background:var(--ackcent-color-1);
}
.title{
    color: var(--text-color);
    font-family: var(--Font);
    font-weight: 400;
    font-size: 64px;
    width: 607px;
}