.container{
    padding-top:150px;
}
.titlecontainer{
    display: flex;
    gap:30px;
    align-items: center;
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
    width:60px;
    height: 60px;
    transform: rotate(90deg);
    border-radius: 100%;
    background:var(--opacity-color) ;
border:none;
}
.button:hover{
    background:var(--ackcent-color-1);
}
.title{
    color: var(--text-color);
    font-family: var(--Font);
    font-weight: 400;
    font-size: 64px;
    width: 607px;
}
.linkcontainer{
    display: flex;
    width:1200px;
    align-items: center;
}
.divlink{
    margin-left: auto;
}
.link{
    font-family: var(--Font);
font-weight: 200;
font-size: 20px;
    color:var(--ackcent-color-1)
}
.img{
    border-radius: 12px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 70px;
}
.subscription{
    margin-right: auto;
    margin-left: auto;
    margin-top: 70px;
    width: 1100px;
    color: var(--text-color);
    font-family: var(--Font);
    font-weight: 200;
    font-size: 26px;
}
.phone{
margin-top: 70px;
    display: flex;
    gap: 30px;
    margin-bottom: 70px;
}
.othersubscription{

    color: var(--text-color);
    font-family: var(--Font);
    font-weight: 200;
    font-size: 26px;
}

@media screen  and (min-width:768px ) and (max-width:1280px){
    .img{
width:672px;
height:332px;
    }
    .subscription{
        width: 768px;
        font-size: 20px;
    }
    .title{
        font-size: 48px;
        width: 400px;
    }
    .othersubscription{
        font-size: 20px;
    }
    .phoneimg{
        width:365px;
        height:355px;
    }
    .linkcontainer{
        width: 100%;
    }
}