
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import '~modern-normalize/modern-normalize.css';

body{
 background-color: white;
  width: 1440px;
  font-family: var(--Font);
  background-position: top, bottom;
  margin-left: auto;
  margin-right: auto;

}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

nav,
footer,
header,
aside {
  display: block;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
  font-family: "OpenSansHebrew", sans-serif;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

input {
  display: block;
  outline: none;
}

body.modal-open {
  overflow: hidden;
}

/* Root styles */

:root {
  --text-color:black;
--Font:"Montserrat", sans-serif;
--main-color:white;
--ackcent-color-1:#0066FF;
--hover-color:#042c68;
--hover-color-2:#0066FF;
}