.container{
    /* background: linear-gradient(to left, var(--header-color) 0%, var(--header-color) 80%, var(--ackcent-color-2) 100%); */
    width:1280px;
    margin-left: auto;
    margin-right: auto;
}