.title{
    font-family: var(--Font);
    font-size: 40px;
    font-weight: 700;
color:palevioletred;
}
.syvash{
    color:var(--ackcent-color-1);
}
.container{
    position: fixed;
    top: 0;
    z-index: 100;
    bottom: 100%;
    width: 1280px;
    display: flex;
    align-items: center;
    justify-content:space-around;
    border-bottom: 12px;
    background-color: #02184f;
    box-shadow: 0 0 4px rgb(0,0,0,0);
    height: 92px;
}
.list{
    display: flex;
    gap:25px;
    padding: 0;
}
.link{
    color: #A7A7A7;
    font-family: var(--Font);
    font-weight: 400;
    font-size: 20px;
}
.link:hover{
    color: var(--text-color);
    background-color: rgba(140, 43, 95, 0.3);
    border-radius: 12px;
    box-shadow: 0 0 40px #8C2B5F;
}
.button{
gap: 10px;
    align-items: center;
    justify-content: center;
    background: none;
    border-radius: 12px;
    border:2px solid var(--ackcent-color-2) ;
    color: var(--text-color);
    font-size: 20px;
    font-weight: 800;
    display: flex;
    padding: 15px;
}
.button:hover{
  background:var(--ackcent-color-2) ;
}